body {
  background-color: #f0f0f0;
}

#gameCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%; /* adjust the width as needed */
  height: 80%; /* adjust the height as needed */
  border: 1px solid #000;
}
